.reportleft {
	margin: 50px;
    text-align: left;
}

.reporttitle {
    display: inline-block;
    size: 14px;
    color: #333333;
	font-family: benton-sans,arial,sans-serif;
}


.reportmenuactive {
    display: inline-block;
	padding-right: 30px;
	font-family: benton-sans,arial,sans-serif;
	color: #11b2ad;
	text-decoration: underline;
	text-underline-offset: 1em;
}


.reportmenulink {
	display: inline-block;
	padding-right: 30px;
	color: #333333;
	font-family: benton-sans,arial,sans-serif;
}

.reportdropdown {
	border-bottom: 1px;
	border-style: solid;
	border-color: #d8d8d8;
	background-color: #f2f2f2;
}

*{
	padding: 0px;
	margin: 0px;
	padding-top: 6px;
}

reportbody{
	background-color:#fff;
	height: 400px;
	margin-top: 10px;
	padding: 20px;
}

.reportwrapper {
	border-bottom: 1px;
	border-style: solid;
	border-color: #d8d8d8;
	background-color: #f2f2f2;
}

.reportcontainer{
	width: 960px;
	margin: 0 auto;
}

.reportdata {
		width: 80px;
		padding: 10px;
		margin-top: 20px;
}

.reportsearch {
		display: inline-block;
}


#reportstandards {
		min-width:200px;
}

form{
    display:inline-block;
	padding: 50px;
}

h4 {
	font-family: benton-sans,arial,sans-serif;
}

div {
	border-bottom: 2px black;
}